html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: Sans-Serif;
  display: flex;
  flex-direction: column;
}
body > .header {
  padding: 8px 4px;
  box-sizing: border-box;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  color: #185081;
  border-bottom: 1px solid #e4e4e4;
  background-color: white;
  z-index: 2;
}
body > .header > img {
  max-width: 100%;
  max-height: 100%;
}
body > .header > .body {
  margin: 0 8px;
  color: inherit;
}
body > .header > .body * {
  display: block;
  color: inherit;
}
body > .header > .body .title {
  font-size: 2.70em;
  margin-left: 10px;
}
body > .body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  position: relative;
  color: #0f61a5;
  text-shadow: 1px 1px 0px #e4e4e4;
}
@media (max-width: 478px) {
  body > .body {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
body > .body .box {
  position: relative;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc(159px);
  flex-grow: 1;
  min-height: 140px;
  border-bottom: 1px solid #e4e4e4;
  text-transform: capitalize;
}
@media (max-width: 478px) and (min-width: 318px) {
  body > .body .box:nth-child(odd) {
    border-right: 1px solid #e4e4e4;
  }
}
body > .body .box .title {
  font-size: 1.4em;
}
body > .body .box .subtitle {
  font-size: 0.9em;
}
body > .body .box > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #e4e4e4;
  transition: fill 0.1s;
  z-index: -1;
}
body > .body .box:hover > svg {
  fill: #185081;
}
body > .footer {
  background-color: #185081;
  color: white;
  font-size: 2.0em;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
body > .footer span {
  line-height: 60px;
  text-align: center;
  height: 60px;
  background-color: #0f61a5;
  width: 50%;
}
